<!DOCTYPE html>
<html lang="es">
<head>
    <title>StreamPro</title>
    <link rel="stylesheet" href="css/stylesInicio.css">
    <link rel="shortcut icon" type="icon" href="img/logoStreamPro.png" />    
</head>
<body>
    
    <div class="header">
        <nav>
            <img src="img/logo1.png" alt="StreamPro logo" class="logo">
            <div>
                <a href="/login">
                    <button>Iniciar sesión</button>
                </a>
            </div>
        </nav>
        <div class="contenido-headder">
            <h1>Todas las películas y series que desees, y mucho más.</h1>
            <h3>Disfruta donde quieras. Cancela cuando quieras.</h3>
            <p>¿Quieres ver algo ya? Escribe tu dirección de correo para crear una suscripción a StreamPro o reactivarla.</p>
            <form class="entrada-mail">
                <input type="email" placeholder="Dirección de correo" required>
                <button type="submit">Empezar</button>
            </form>
        </div>
    </div>

    <div class="elementos">
        <div class="fila">
            <div class="columna-texto">
                <h2>Disfruta de StreamPro en tu TV.</h2>
                <p>Smart TV, Playstation, Xbox, Chromecast, Apple TV, reproductores Blu-ray y muchos más.</p>
            </div>
            <div class="columna-imagen">
                <img src="img/elemento1.png" alt="imagen1">
            </div>
        </div>
    </div>
    <div class="elementos">
        <div class="fila">
            <div class="columna-imagen">
                <img src="img/elemento2.png" alt="imagen2">
            </div>
            <div class="columna-texto">
                <h2>Disfruta en todas partes.</h2>
                <p>Reproduce en streaming todas las películas y series en tu móvil, tableta, ordenador y TV sin pagar más.</p>
            </div>
        </div>
    </div>
    <div class="elementos">
        <div class="fila">
            <div class="columna-texto">
                <h2>Crea perfiles infantiles.</h2>
                <p>Deja que los niños vivan aventuras con sus personajes favoritos en un espacio diseñado exclusivamente para ellos, gratis con tu suscripción.</p>
            </div>
            <div class="columna-imagen">
                <img src="img/elemento3.png" alt="imagen3">
            </div>
        </div>
    </div>
    <div class="elementos">
        <div class="fila">
            <div class="columna-imagen">
                <img src="img/elemento4.png" alt="imagen4">
            </div>
            <div class="columna-texto">
                <h2>Descárgate tus series favoritas para verlas sin conexión.</h2>
                <p>Disponible en todos los planes menos en el Básico con anuncios.</p>
            </div>
        </div>
    </div>
    
    <div class="faq">
        <h2 id="faqs">Preguntas frecuentes</h2>
        <ul class="acordeon">
            <li>
                <input type="radio" name="acordeon" id="primera">
                <label for="primera">¿Qué es StreamPro?</label>
                <div class="contenido">
                    <p>StreamPro es un servicio de streaming que ofrece una amplia variedad de series, películas, títulos de anime, documentales
                    y otros contenidos premiados en miles de dispositivos conectados a internet.
                    <br><br>
                    Puedes ver todo lo que quieras, cuando quieras, por una tarifa mensual reducida. ¡Siempre hay algo nuevo que descubrir,
                    y cada semana se añaden nuevas series y películas!</p>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="segunda">
                <label for="segunda">¿Cuánto cuesta StreamPro?</label>
                <div class="contenido">
                    <p>Disfruta de StreamPro en tu smartphone, tableta, Smart TV, ordenador o dispositivo de streaming, todo por una tarifa
                    mensual fija. Planes desde 5,49 € a 17,99 € al mes. Sin cargos adicionales ni contratos.</p>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="tercera">
                <label for="tercera">¿Cuál es la diferencia de Básico con anuncios?</label>
                <div class="contenido">
                    <p>Básico con anuncios es una manera excelente de disfrutar de series y películas a un precio más bajo. Puedes ver tus
                    títulos favoritos en cualquier dispositivo con algunas pausas publicitarias. Este plan no permite descargas y algunas
                    series y películas no estarán disponibles debido a las restricciones de licencias. También hay ciertas restricciones
                    relacionadas con los dispositivos y la ubicación.</p>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="cuarta">
                <label for="cuarta">¿Dónde puedo ver StreamPro?</label>
                <div class="contenido">
                    <p>Disfruta donde quieras y cuando quieras. Inicia sesión con tu cuenta de StreamPro para disfrutar al instante de todo el
                    contenido de StreamPro.com desde tu ordenador personal o en cualquier dispositivo conectado a internet que ofrezca la
                    aplicación de StreamPro, entre ellos, smart TV, smartphones, tabletas, reproductores multimedia de streaming y consolas de
                    juegos.
                    <br><br>
                    También puedes descargar tus series favoritas con la aplicación de iOS, Android o Windows 10. Utiliza las descargas para
                    ver títulos dondequiera que vayas y cuando no dispongas de conexión a internet. StreamPro siempre te acompaña.</p>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="quinta">
                <label for="quinta">¿Cómo cancelo?</label>
                <div class="contenido">
                    <p> StreamPro es flexible. Sin contratos liosos ni compromisos. Puedes cancelar fácilmente tu cuenta en línea con tan solo dos
                    clics. Sin cargos por cancelación: activa o cancela tu cuenta en cualquier momento.</p>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="sexta">
                <label for="sexta">¿Qué puedo ver en StreamPro?</label>
                <div class="contenido">
                    <p> StreamPro dispone de una amplia biblioteca de originales de StreamPro galardonados, títulos de anime, series de TV,
                    documentales, largometrajes y otros contenidos. Ve todo el contenido que quieras, cuando quieras.</p>
                </div>
            </li>
            <li>
                <input type="radio" name="acordeon" id="septima">
                <label for="septima">¿Es StreamPro bueno para los niños?¿Qué es StreamPro?</label>
                <div class="contenido">
                    <p>La experiencia infantil de StreamPro se incluye en la suscripción para que los padres tengan el control mientras los niños
                    disfrutan de series y películas familiares en su propio espacio.
                    <br><br>
                    Los perfiles infantiles incluyen controles parentales protegidos por PIN que te permiten restringir la calificación por
                    edades del contenido que pueden ver los niños y bloquear determinados títulos que no quieras que vean.</p>
                </div>
            </li>
        </ul>
        <small>¿Quieres ver algo ya? Escribe tu dirección de correo para crear una suscripción a StreamPro o reactivarla.</small>
        <form class="entrada-mail">
            <input type="email" placeholder="Dirección de correo" required>
            <button type="submit">Empezar</button>
        </form>
    </div>
    
    <div class="footer">
        <h2>¿Preguntas? Llama al 310-735-2592</h2>
        <div class="fila">
            <div class="columna">
                <a href="#faqs">Preguntas frecuentes</a>
                <a href="#">Inversores</a>
                <a href="#">Formas de ver</a>
                <a href="#">Informacion corporativa</a>
                <a href="#">Avisos legales</a>
            </div>
            <div class="columna">
                <a href="#">Centro de ayuda</a>
                <a href="#">Empleo</a>
                <a href="#">Términos de uso</a>
                <a href="mailto:help@streampro.es">Contáctanos</a>
                <a href="#">Solo en StreamPro</a>
            </div>
            <div class="columna">
                <a href="#">Cuenta</a>
                <a href="#">Canjear tarjetas regalo</a>
                <a href="#">Privacidad</a>
                <a href="https://fast.com/es/">Prueba de velocidad</a>
            </div>
            <div class="columna">
                <a href="#">Zona de prensa</a>
                <a href="#">Comprar tarjetas regalo</a>
                <a href="#">Preferencias de cookies</a>
                <a href="#">Garantía legal</a>
            </div>
        </div>
        <button class="idioma">Español</button>
        <p class="texto-copyright">StreamPro Colombia <img src="img/logoIdioma.png"></p>
    </div>
</body>
</html>