<!DOCTYPE html>
<html lang="es">
<head>
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="css/stylesRecuperarPassword.css">
</head>
<body>
    <div class="contenedorCard">
        <h1>¿Olvidaste tu contraseña?</h1>
        <form action="/login">
            <p>Te enviaremos un e-mail con la contraseña temporal</p>
            <div>
                <input type="email" name="email" title="Correo de recuperación" placeholder="E-mail" required>
            </div>
            <div>
                <input class="btnEnviarEmail" type="submit" name="RecuperarContraseña" title="RecuperarContraseña" value="Enviar e-mail">
            </div>
            <div>
                <a href="/login">Cancelar</a>
            </div>
        </form>
        <div class="logo"></div>
    </div>
</body>
</html>