<!DOCTYPE html>
<html lang="es">
<head>
    <title>Suscripción</title>
    <link rel="stylesheet" href="css/stylesSuscripcion.css">
</head>
<body>
    <div class="container">
        <div class="fondoLogo">
            <div class="logo"></div>
        </div>
        <div class="AvtivarPremium">
            <h1>Activar Suscripción</h1>
            <form action="/home">
                <div>
                    <input type="text" placeholder="Numero de tarjeta" required>
                </div>
                <div class="contenedorBTNActivar">
                    <input class="btnActivar" type="submit" title="Activar" name="ActivarSuscripcion" value="Activar">
                </div>  
            </form>
        </div>
    </div>
</body>
</html>